*{
    background-color:#ffe1ac;
    margin: 0;
    padding: 0;
}
.header{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: center;
}
body{
    margin: 40px;
}
input[type="text"],[type="number"]{
    width: 100%;
    padding: 5px;
}
